.form {
    text-decoration: none;
    color: black;
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
}

.formItems {
    padding: 0 0 1em 0;
    display: flex;
    align-items: center;
}

